$light: 300;
$normal: 400;
$bold: 900;

$lightgray: #717C7D;
$darkgray: #3F4444;

/////////Navigation/////////

.bg-inverseContact {
  background-color: $darkgray;
  color: white;
}

.mobileNavContact a {
  color: white;
}

/////////Title/////////

.title {
  font-size: 2em;
  margin: .5em 0 .5em 0;
  text-align: center;
}

/////////Contact Form/////////

#contactUs {
  .btn-primary {
    background-color: $darkgray;
    border-color: $darkgray;
  }
  .btn-primary:hover {
    background-color: $lightgray;
    border-color: $lightgray;
  }
}

form {
  margin-top: 2em;
}






