$light: 300;
$normal: 400;
$bold: 900;

$lightgray: #717C7D;
$darkgray: #3F4444;

/////////Nav/////////

.nav a {
  font-weight: $normal;
}

/////////Title/////////

.introImgRachel {
  background-image: url("../img/green.jpg");
}

.introImgTony {
  background-image: url("../img/stars.jpg");
}

.titleIntroRachel,
.titleIntroTony {
  height: 60vh;
}

/////////Picture and Form Container/////////

.picFormContainer {
  display: block;
  width: 90%;
  margin: 0 auto;
  padding-top: 2em;
  img {
    width: 100%;
  }
  h4 {
    font-weight: $bold;
    margin-top: 2em;
  }
  form {

  }
}

.btn-primary {
  color: #fff;
  background-color: black;
  border-color: black;
}

.btn-primary:hover {
  color: #fff;
  background-color: $darkgray;
  border-color: $darkgray;
}

/////////Social Footer/////////

.socialContainer {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  padding: .75em 0;
  margin-top: 2em;
  //border-top: 1px solid $darkgray;
  font-size: .75em;
  font-weight: $bold;
  //background-color: black;
  a {
    color: $darkgray;
  }
}

@media(min-width: 700px) {
  .socialContainer {
    margin: 0;
  }
}

@media(min-width: 500px) {
  .socialContainer {
    //padding: 1em 0;
    font-size: 1em;
  }
}

