$light: 300;
$normal: 400;
$bold: 900;

$lightgray: #717C7D;
$darkgray: #3F4444;

body {
  font-family: 'Lato', sans-serif;
}

/////////TITLE FOR ALL THREE PAGES/////////

.titleIntroContainer {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: contain;
  color: white;
  padding: 2em;
  text-align: center;
}

.titleIndex {
  height: 100vh;
  background-image: url("../img/mountain_fog.jpg");
  background-size: cover;
}

.titleRachel {
  background-image: url("../img/green.jpg");
  padding: 5em 1em;
}

.titleTony {
  background-image: url("../img/stars.jpg");
  padding: 5em 1em;
}

.title,
.intro {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.title {
  font-weight: $bold;
  font-size: 5em;
  margin-top: 0;
}

.intro {
  font-size: 1em;
  line-height: 140%;
}

@media(min-width: 500px) {
  .intro {
    font-size: 1.6em;
    line-height: 160%;
  }
}

//Sass Import
@import 'index';
@import 'rachel-tony';