body {
  font-family: 'Lato', sans-serif; }

.introBackgroundImg {
  background-size: contain;
  color: white;
  text-align: center; }

.mobileNav a {
  color: white; }

.hamburger {
  text-align: right; }

.bg-faded {
  background-color: transparent; }

.bg-inverse {
  background-color: transparent; }

@media (max-width: 500px) {
  .desktopNav {
    display: none; } }
@media (min-width: 500px) {
  .mobileNav {
    display: none; }

  .navbar {
    border: 1px solid orange;
    display: none; }

  .desktopNav {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 1em 1em 0 0; }
    .desktopNav a {
      margin: 1em;
      padding: .5em;
      color: white;
      font-weight: 900; } }
.titleIntro {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 85vh;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 1em; }

.title {
  font-weight: 900;
  font-size: 3em;
  margin-top: 0; }

.intro {
  font-size: 1em;
  line-height: 140%; }

@media (min-width: 500px) {
  .title {
    font-size: 4em; }

  .intro {
    font-size: 1.25em; } }
@media (min-width: 700px) {
  .title {
    font-size: 5em; }

  .intro {
    font-size: 1.6em;
    line-height: 160%; } }
.introImgIndex {
  height: 100vh;
  background-image: url("../img/mountain_fog.jpg");
  background-size: cover; }

.whoTitle {
  font-weight: bold;
  font-size: 2.5em;
  text-align: center;
  margin: 1.5em 0; }

@media (max-width: 500px) {
  .desktopVersionUs {
    display: none; }

  .moreRachel,
  .moreTony {
    font-weight: 900;
    font-size: 1.5em;
    margin: 1.5em 0;
    text-align: center; }
    .moreRachel img,
    .moreTony img {
      width: 100%;
      padding-bottom: 1em; }
    .moreRachel button,
    .moreTony button {
      background: black;
      color: white;
      border: 0;
      padding: .5em 1em;
      font-size: .5em;
      font-weight: 400; } }
button:focus {
  outline: none; }

@media (min-width: 500px) {
  .mobileVersionUs {
    display: none; }

  .moreUsContainer {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    text-align: center;
    margin: 0 0 2.5em 0; }
    .moreUsContainer .moreRachel,
    .moreUsContainer .moreTony {
      font-weight: 900;
      font-size: 1.5em;
      margin: 1.5em 0; }
      .moreUsContainer .moreRachel button,
      .moreUsContainer .moreTony button {
        background: #25282B;
        color: white;
        border: 0;
        padding: 1em 1.5em;
        font-size: .5em;
        font-weight: 400; } }
.toneRachPicsContainer {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around; }
  .toneRachPicsContainer img {
    width: 40%;
    height: 40%; }

.workWithUs {
  background-color: #25282B;
  color: white;
  text-align: center;
  padding: 2em 0;
  border-top: 1px solid white;
  border-bottom: 1px solid white; }
  .workWithUs h1 {
    font-weight: 900;
    font-size: 2em;
    margin: 0 .5em .75em .5em; }

@media (min-width: 500px) {
  .workWithUs {
    background-size: contain; } }
.btn-secondary-outline {
  color: white;
  border-color: white; }

.btn-secondary-outline:hover {
  color: black;
  background-color: white;
  border-color: white; }

.workingOnTitle {
  font-weight: 900; }

.workingOnDescription {
  font-weight: 400; }

.workingOnPic img {
  border: 1px solid black; }

@media (max-width: 500px) {
  .workingOnTitle,
  .workingOnDescription {
    padding: 1.5em 16px 0 16px;
    margin-bottom: 0; }

  .workingOnPic {
    border: 1px solid black;
    margin: 2em 1em; }
    .workingOnPic img {
      width: 100%; } }
@media (min-width: 500px) {
  .workingOn {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 4em 1em; }

  .workingOnTitleDescription {
    width: 45%; }

  .workingOnPic {
    width: 45%; }
    .workingOnPic img {
      width: 100%; } }
.nav a {
  font-weight: 400; }

.introImgRachel {
  background-image: url("../img/green.jpg"); }

.introImgTony {
  background-image: url("../img/stars.jpg"); }

.titleIntroRachel,
.titleIntroTony {
  height: 60vh; }

.picFormContainer {
  display: block;
  width: 90%;
  margin: 0 auto;
  padding-top: 2em; }
  .picFormContainer img {
    width: 100%; }
  .picFormContainer h4 {
    font-weight: 900;
    margin-top: 2em; }

.btn-primary {
  color: #fff;
  background-color: black;
  border-color: black; }

.btn-primary:hover {
  color: #fff;
  background-color: #3F4444;
  border-color: #3F4444; }

@media (min-width: 700px) {
  .picFormContainer {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
    margin: 0 auto;
    padding-top: 2em; }
    .picFormContainer img {
      width: 47.5%;
      height: 47.5%;
      margin-right: 2.5%; }
    .picFormContainer .contactMe {
      width: 47.5%;
      margin-left: 2.5%; }
      .picFormContainer .contactMe h4 {
        font-weight: 900;
        margin-top: 0; } }
.socialContainer {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  padding: 1em 0;
  margin-top: 2em;
  border-top: 1px solid #3F4444;
  font-weight: 900;
  background-color: black; }
  .socialContainer a {
    color: white; }

.contactNav .mobileNav a,
.contactNav .desktopNav a {
  color: #3F4444; }

.titleContact {
  margin-top: 3em;
  text-align: center; }

.contactUs .btn-primary {
  background-color: #3F4444;
  border-color: #3F4444; }
.contactUs .btn-primary:hover {
  background-color: #717C7D;
  border-color: #717C7D; }

/*# sourceMappingURL=all.css.map */
