$light: 300;
$normal: 400;
$bold: 900;

$lightgray: #717C7D;
$darkgray: #3F4444;


/////////TONY AND RACHEL/////////

.whoTitle {
  font-weight: bold;
  font-size: 2.5em;
  text-align: center;
  margin: 1.5em 0;
}

@media(max-width: 500px) {
  .desktopVersionUs {
    display: none;
  }
  .moreRachel,
  .moreTony {
    font-weight: $bold;
    font-size: 1.5em;
    margin: 1.5em 0;
    text-align: center;
    img {
      width: 100%;
      padding-bottom: 1em;
    }
    button {
      background: black;
      color: white;
      border: 0;
      padding: .5em 1em;
      font-size: .5em;
      font-weight: $normal;
    }
  }
}

@media(min-width: 500px) {
  .mobileVersionUs {
    display: none;
  }
  .moreUsContainer {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 0 0 2.5em 0;
    .moreRachel,
    .moreTony {
      font-weight: $bold;
      font-size: 1.5em;
      margin: 1.5em 0;
      button {
        background: black;
        color: white;
        border: 0;
        padding: 1em 1.5em;
        font-size: .5em;
        font-weight: $normal;
      }
    }
  }
}

.toneRachPicsContainer {
  display: flex;
  justify-content: space-around;
  img {
    width: 40%;
    height: 40%;
  }
}

/////////WORK WITH US/////////

.workWithUs {
  background-image: url("../img/forest-snow.jpg");
  background-size: contain;
  color: white;
  text-align: center;
  padding: 2em 0;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  h1 {
    font-weight: $bold;
    font-size: 2em;
    margin: 0 0 .75em 0;
  }
}

.btn-secondary-outline {
  color: white;
  border-color: white;
}

.btn-secondary-outline:hover {
  color: black;
  background-color: white;
  border-color: white;
}

/////////WORKING ON/////////

.workingOnTitle,
.workingOnDescription {
  display: flex;
  justify-content: center;
  padding: 2em 1em 1em 1em;
  margin: 0;
  font-weight: $bold;
  text-align: center;
}

.workingOnDescription {
  padding: 0 1em 2em 1em;
  font-weight: $normal;
}

.workingOnPic {
  img {
    width: 95%;
    border: 1px solid black;
    margin: 2%;
    display: flex;
    justify-content: center;
  }
}

