$light: 300;
$normal: 400;
$bold: 900;

$lightgray: #717C7D;
$darkgray: #3F4444;


/////////Title/////////

.introImgIndex {
  height: 100vh;
  background-image: url("../img/mountain_fog.jpg");
  background-size: cover;
}

/////////Who we are and more info/////////

.whoTitle {
  font-weight: bold;
  font-size: 2.5em;
  text-align: center;
  margin: 1.5em 0;
}

@media(max-width: 500px) {
  .desktopVersionUs {
    display: none;
  }
  .moreRachel,
  .moreTony {
    font-weight: $bold;
    font-size: 1.5em;
    margin: 1.5em 0;
    text-align: center;
    img {
      width: 100%;
      padding-bottom: 1em;
    }
    button {
      background: black;
      color: white;
      border: 0;
      padding: .5em 1em;
      font-size: .5em;
      font-weight: $normal;
    }
  }
}

button:focus {
  outline: none;
}

@media(min-width: 500px) {
  .mobileVersionUs {
    display: none;
  }
  .moreUsContainer {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
            justify-content: space-around;
    text-align: center;
    margin: 0 0 2.5em 0;
    .moreRachel,
    .moreTony {
      font-weight: $bold;
      font-size: 1.5em;
      margin: 1.5em 0;
      button {
        background: black;
        color: white;
        border: 0;
        padding: 1em 1.5em;
        font-size: .5em;
        font-weight: $normal;
      }
    }
  }
}

.toneRachPicsContainer {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
          justify-content: space-around;
  img {
    width: 40%;
    height: 40%;
  }
}

/////////Work With Us/////////

.workWithUs {
  background-color: #A8AA31;
  //background-image: url("../img/water.jpg");
  //background-size: cover;
  color: white;
  text-align: center;
  padding: 2em 0;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  h1 {
    font-weight: $bold;
    font-size: 2em;
    margin: 0 .5em .75em .5em;
  }
}

@media(min-width: 500px) {
  .workWithUs {
    background-size: contain;
  }
}

.workWithUs {
}

.btn-secondary-outline {
  color: white;
  border-color: white;
}

.btn-secondary-outline:hover {
  color: black;
  background-color: white;
  border-color: white;
}

/////////Currently Working On/////////

.workingOnTitle {
  font-weight: $bold;
}

.workingOnDescription {
  font-weight: $normal;
}

.workingOnPic {
  img {
    border: 1px solid black;
  }
}

@media(max-width: 500px) {
  .workingOnTitle,
  .workingOnDescription {
    padding: 1.5em 16px 0 16px;
    margin-bottom: 0;
  }
  .workingOnPic {
    border: 1px solid black;
    margin: 2em 1em;
    img {
      width: 100%;
    }
  }
}

@media(min-width: 500px) {
  .workingOn {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
            justify-content: space-around;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 4em 1em;
  }
  .workingOnTitleDescription {
    width: 45%;
  }
  .workingOnPic {
    width: 45%;
    img {
      width: 100%;
    }
  }
}

